extends layout

block content
  h1= title

  form(id='FishForm', action="/resource/fishes", method="POST")
    div.form-group
        label.costumeAttr(for='fishname') Fish Name
        input#costumetype(type='text', name='fishname')
    div.form-group
        label.costumeAttr(for='classi') Fish Classification
        input#size(type='text', name='classi')
    div.form-group
        label.costumeAttr(for='habitat') Fish Habitat
        input#cost(type='text', name='habitat')
    div.form-group
        label.costumeAttr(for='price') Fish Price
        input#cost(type='number', name='price')
    input(type="submit")

  script.
    document.forms['FishForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
